## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
out/
publish/

## Logs
logs/
*.log

## IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Docker
.docker/

## AWS
*.pem
.env
